<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
</head>
<body>
    <!-- Include the header -->
    {% include 'include/header.html' %}

    <!-- Include the sidebar -->
    {% include 'include/sidebar.html' %}

    <!-- Main content goes here -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <!-- Include the footer -->
    {% include 'include/footer.html' %}
</body>
</html>
