<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="/static/css/dash.css">
    <!-- Include your CSS and JavaScript files here -->
</head>
<body>
    {% include 'Counsellor-Dash/header.html' %}

    <div class="container">
        <div class="sidebar">
            {% include 'Counsellor-Dash/sidebar.html' %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'Counsellor-Dash/footer.html' %}
</body>
</html>
