{% extends 'Parent-Dash/base.html' %}

{% block content %}
    <div class="grid-container">
        <div class="grid-item">
            <span class="value">5</span>
            <span class="description">Total Tasks</span>
        </div>
            <div class="grid-item">
            <span class="value">2</span>
            <span class="description">Tasks Due</span>
        </div>
            <div class="grid-item">
            <span class="value">1</span>
            <span class="description">Total Ungraded</span>
        </div>
{% endblock %}
