{% extends 'Teacher-Dash/base.html' %}

{% block content %}
    <!-- Add your dashboard-specific content here -->
        <div class="grid-container">
        <div class="grid-item">
            <span class="value">{{ info[0] }}</span>
            <span class="description">Total Student</span>
        </div>
            <div class="grid-item">
            <span class="value">{{ info[1] }}</span>
            <span class="description">Total Tasks</span>
        </div>
            <div class="grid-item">
            <span class="value">{{ info[2] }}</span>
            <span class="description">Total Ungraded</span>
        </div>

{% endblock %}
